<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Pandascore technical test</title>

        <!-- Fonts -->

        <!-- Styles -->
        <link rel="stylesheet" href="./css/home.css"/>
    </head>
    <body>
        <h1>Home</h1>

        <div id="app">            
            <input v-model="searchName" type="text" placeholder="Search champions"/>

            <input type="checkbox" id="assassin" value="Assassin" v-model="searchTags">
            <label for="assassin">Assassin</label>
            <input type="checkbox" id="fighter" value="Fighter" v-model="searchTags">
            <label for="fighter">Fighter</label>
            <input type="checkbox" id="mage" value="Mage" v-model="searchTags">
            <label for="mage">Mage</label>
            <input type="checkbox" id="support" value="Support" v-model="searchTags">
            <label for="support">Support</label>
            <input type="checkbox" id="tank" value="Tank" v-model="searchTags">
            <label for="tank">Tank</label>
            <input type="checkbox" id="marksman" value="Marksman" v-model="searchTags">
            <label for="marksman">Marksman</label>

            <ul v-cloak>
                <div v-for="champion in sortedChampionList" v-if="matchesNameSearch(champion.name) && matchesTagSearch(champion.tags)">
                    <img v-bind:src="portraitUrl(champion.key)"/>
                    <button id="show-modal" @click="seeDetails(champion)">{{ champion.name }}</button>
                </div>
            </ul>

            <transition v-if="showModal" v-cloak>
                <div class="modal-mask">
                    <div class="modal-wrapper">
                        <div class="modal-container">
                            <div class="modal-header">
                                <h3>{{ selectedChampion.name }} details</h3>
                            </div>
                            <div class="modal-body">
                                <canvas id="rolesChart" width="400" height="400"></canvas>
                            </div>
                            <div class="modal-footer">
                                The data is not precise enough to determine if botlane picks are ADC or supports.
                                <button class="modal-default-button" @click="closeDetails()">
                                    Close
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </transition>

        </div>

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-resource@1.2.0/dist/vue-resource.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.bundle.js"></script>
        <script type="text/javascript" src="./js/home.js"></script>
    </body>
</html>
