<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Pandascore technical test</title>

        <!-- Fonts -->

        <!-- Styles -->
    </head>
    <body>
        <h1>Home</h1>
        <div id="app">
            <input v-model="searchName" type="text" placeholder="Search champions"/>

            <input type="checkbox" id="assassin" value="Assassin" v-model="searchTags">
            <label for="assassin">Assassin</label>
            <input type="checkbox" id="fighter" value="Fighter" v-model="searchTags">
            <label for="fighter">Fighter</label>
            <input type="checkbox" id="mage" value="Mage" v-model="searchTags">
            <label for="mage">Mage</label>
            <input type="checkbox" id="support" value="Support" v-model="searchTags">
            <label for="support">Support</label>
            <input type="checkbox" id="tank" value="Tank" v-model="searchTags">
            <label for="tank">Tank</label>
            <input type="checkbox" id="marksman" value="Marksman" v-model="searchTags">
            <label for="marksman">Marksman</label>

            <ul>
                <li v-for="champion in sortedChampionList" v-if="matchesNameSearch(champion.name) && matchesTagSearch(champion.tags)">{{ champion.name }}</li>
            </ul>
        </div>

        <script src="https://unpkg.com/vue/dist/vue.js"></script>
        <script src="https://unpkg.com/vue-resource@1.2.0/dist/vue-resource.min.js"></script>
        <script type="text/javascript" src="./js/home.js"></script>
    </body>
</html>
